@page "/account/login"
@inject IHttpContextAccessor Http

@if (!string.IsNullOrEmpty(Http.HttpContext!.Request.Query["error"]))
{
    <p class="text-danger">@Http.HttpContext.Request.Query["error"]</p>
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Login</div>
                <div class="card-body">
                    <form action="/login?ReturnUrl=@Http.HttpContext!.Request.Query["ReturnUrl"]" method="post">
                        <div class="form-group">
                            <label for="inputEmail">Email address</label>
                            <input type="email" name="email" asp-for="Email" class="form-control" id="inputEmail"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <input type="password" name="password" asp-for="Password" class="form-control"
                                id="inputPassword" required>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" asp-for="RememberMe" class="form-check-input" id="rememberMe">
                            <label class="form-check-label" for="rememberMe">Remember me</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
